.contact-image{
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: white;
}

.contact{
    padding-top: 10vh;
}

.contact-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.contact-info-container{
    color: white;
    display: flex;
    margin-top: 3vh;
}

.contact-container{
    margin: 4vh;
}

.facebook{
    background-color: #3b5998;
}

.github{
    background-color:#211F1F;
}

.linkedin{
    background-color: #0e76a8;
}

.instagram{
    background-color: #f2003c;
}

.snapchat{
    background-color: #FFFC00;
    color: black;
}

.twitter{
    background-color: #1DA1F2;
}

.email{
    background-color: #0e76a8;
}

.contact-tile{
    font-size: large;
    padding: 10px;
    margin: 1vh;
    border-radius: 10px;
    transition-duration: 200ms;
    
}
.contact-tile:hover{
    transform: scale(1.2,1.2);
}

.contact-all{
    /* border: 2px solid white; */
    padding: 6vh 3vh;
    margin-top: 5vh;
    border-radius: 5%;
    /* background-color: white; */
}

.number-tile{
background-color: white;
text-align: center;
width: 50%;
margin: auto;
padding: 10px;
border-radius: 10px;
font-weight: 500;
transition-duration: 300ms;
}

.number-tile:hover{
transform: scale(1.1,1.1);
}



.contact-numbers{
    margin-top: 3vh;
}

@media screen and (max-width:400px){
    .contact-tile{
        margin: 2.5px;
    }
}