.work-detail-container{
    position: fixed; /* Sit on top of the page content */ /* Hidden by default */
    display: block;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    
}

.work-detail-content{
    height: 100%;
    padding: 5vh;
    overflow-y: auto;
}

.exit{
    color: red;
    text-align: right;
    cursor: pointer;
}

.work-detail-description{
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    max-height: 70vh;
    border: 2px solid white;
    border-radius: 10px;
    overflow-y: scroll;
}

.work-detail-time{
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color:white;
}

.work-detail-url{
    width: 50%;
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2292a3;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.uppercase{
    text-transform: uppercase;
}

@media screen and (max-width:600px){
    .work-detail-description{
        max-height: 40vh;
    }
}
